@import url('https://fonts.googleapis.com/css?family=Hepta+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

.bodyStyle {
  background-color: #cecece; 
}

.botoncontacto
{background-image: url(imagenes/votar.png); width: 100%; height: 100%; border-width: 0}

table#estiloSombra {
  width: 95%;
	align-content: center;
  padding: 20px;
  margin: 15px;
  background-color: white;

	-webkit-box-shadow: 4px 0px 25px 0px rgba(0,0,0,0.62);
	-moz-box-shadow: 4px 0px 25px 0px rgba(0,0,0,0.62);
	box-shadow: 4px 0px 25px 0px rgba(0,0,0,0.62);
}

table#estiloSombratransparente {
  width: 95%;
  align-content: center;
  padding: 20px;
  margin: 15px;

  -webkit-box-shadow: 4px 0px 25px 0px rgba(0,0,0,0.62);
  -moz-box-shadow: 4px 0px 25px 0px rgba(0,0,0,0.62);
  box-shadow: 4px 0px 25px 0px rgba(0,0,0,0.62);
}

table#home {
  width: 100%;
}

img#header {
  width: 40%;
}

img#crear {
  width: 50%;
}

img#center {
  width: 50%;
}

img#resultado {
  width: 100%;
}

tr#general {
  width: 95%;
}

td#central {
  width: 35%;
}

td#left {
  width: 25%;
}

td#right {
  width: 25%;
}

td#left1-1 {
  width: 25%;
}

td#central1-2 {
  width: 20%;
}

td#central1-3 {
  width: 30%;
  vertical-align: text-top;
}

td#right1-4 {
  width: 25%;
}



//Grid 
.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'main main main main right right'
    'menu footer footer footer footer footer';
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

p#textos {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

p#titulos {
  font-family: 'Roboto Mono', monospace;
  font-size: 35px;
}

input#texto {
    margin-top: 10px;
    padding: 15px;
    width: 70%;
    font-size: 15px;
    font-family: 'Hepta Slab', serif;
    border: 3px solid #5b2e90;
    border-radius: 5px;
}

input#submit {
    margin-top: 10px;
    padding: 15px;
    width: 70%;
    font-size: 20px;
    font-family: 'Hepta Slab', serif;
    background-color: #e500c5;
    border: 2px solid #e500c5;
    border-radius: 5px;
    border-radius: 5px;
    color: white;
    
    
}

input#submit:hover {
    margin-top: 10px;
    padding: 15px;
    width: 70%;
    font-size: 20px;
    font-family: 'Hepta Slab', serif;
    border: 2px solid #e500c5;
    border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #cc00af;
    background-color: #cc00af;
    
    color: white;
    
}

input#submit1 {
    margin-top: 10px;
    padding: 15px;
    width: 70%;
    font-size: 20px;
    font-family: 'Hepta Slab', serif;
    background-color: #ff9200;
    border: 2px solid #ff9200;
    border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #ffb200;
    color: white;
    
    
}

input#submit1:hover {
    margin-top: 10px;
    padding: 15px;
    width: 70%;
    font-size: 20px;
    font-family: 'Hepta Slab', serif;
    border: 2px solid #ff9200;
    border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #ffb200;
    background-color: #ffb200;
    color: white;
    
}

input#submit2 {
    margin-top: 10px;
    padding: 15px;
    width: 70%;
    font-size: 20px;
    font-family: 'Hepta Slab', serif;
    background-color: #00b300;
    border: 2px solid #00b300;
    border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #009a00;
    color: white;
    
    
}

input#submit2:hover {
    margin-top: 10px;
    padding: 15px;
    width: 70%;
    font-size: 20px;
    font-family: 'Hepta Slab', serif;
    border: 2px solid #00b300;
    border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #009a00;
    background-color: #009a00;
    color: white;
    
}

#ff9200


